parameters:
    level: 8
    paths:
        - wp-content/themes/atk-ved/src
        - wp-content/themes/atk-ved/inc
    
    excludePaths:
        - wp-content/themes/atk-ved/vendor
        - wp-content/themes/atk-ved/node_modules
    
    ignoreErrors:
        # WordPress функции
        - '#Function (add_action|add_filter|wp_enqueue_script|wp_enqueue_style|get_template_directory_uri|esc_html|esc_attr|esc_url|__) not found#'
        - '#Constant (ABSPATH|WP_DEBUG) not found#'
    
    bootstrapFiles:
        - tests/bootstrap.php
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
