parameters:
    level: 0
    paths:
        - src
    excludePaths:
        - vendor/
        - node_modules/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function .+ not found#'
        - '#Parameter .+ has invalid type#'
