<?php
/**
 * PHPUnit Configuration
 *
 * @package ATKVed
 */

declare( strict_types=1 );

$tests_dir = __DIR__;

require_once $tests_dir . '/bootstrap.php';

$config = new DOMDocument();
$config->load( <<<XML
<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertDeprecationsToExceptions="true"
    verbose="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    failOnRisky="true"
    failOnWarning="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="ATK VED Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./inc</directory>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./inc/acf-*.php</directory>
                <file>./functions.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml"/>
    </logging>
</phpunit>
XML
);

echo $config->saveXML();
